body {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

@for $i from 1 through 12 {
  .col#{$i} {
    width: (100%/ (12 / $i)) - 3%;
    margin: 1.5%;
  }
}

// Nav
.nav-container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  margin: 0 1.5%;
  justify-content: space-between;
  align-items: center;
  &-brand {
    h1 {
      a {
        text-decoration: none;
        color: black;
        span {
          color: darkred;
        }
      }
    }
  }
  &-menu {
    a {
      text-decoration: none;
      color: black;
      padding: 10px;
      &:hover {
        color: darkred;
      }
    }
  }
  .profile {
  }
}

.btn {
  color: wheat;
  background: darkred;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 30px;
  text-decoration: none;
  transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 1s;
  &:hover {
    background: black;
    color: white;
  }
}
